* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background: #9e1414d8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mySlides {
    display: none
}

img {
    height: 900px;
    width: 100%;
    border-radius: 30px;
}

/* Slideshow container */
.slide-container {
    background: #717171;
    position: relative; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 900px;
    margin: 30px 50px 30px 50px;
    border-radius: 80px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  text-align: center;
  margin: 10px 300px 10px 300px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
}